@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.logo{
    width: 400px;
}
body{
    font-family: "Playfair Display", serif;
}
header{
    text-align: center;
    background-color: rgb(198, 163, 231);
}
nav li{
    display: inline;
    padding: 60px;
    font-size: 55px;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    text-decoration: underline;
}
.card{
    text-align:left;
    margin: 50px;
    width: 400px;
    overflow: hidden;
    box-shadow: 0px 10px 15px #4b4a4a;
}
.card img{
    width: 100%;
}
.card h2{
    text-align:left;
    color: blueviolet;
    font-size: 55px;
}
.card-content{
    padding: 25px;
}
.car:hover{
    background-color: burlywood;
    box-shadow: 0px 5px 15px rgb(0, 0, 3);
    transform: scale(1.06);
}
.tarjeta{
    display: flex;
    justify-content: center;
    justify-items: center;
}
footer{
    background-color: rgb(185, 185, 185);
    text-align: center;
    font-size: 55px;
}
.tex{
    text-align: center;
    font-size: 55px;
}
.mas{
    box-shadow: 0px 2px 15px 3px;
    height: 500px;
    background-color: rgb(180, 180, 180);
    color: beige;
    margin: 35px;
}
.mas img{
    border-radius: 20px;
    padding: 25px;
    float: left;
    width: 580px;
}
.mas p{
    font-size: 55px;
    color: #666;
    margin-bottom: 50px;
}
.catal{
    background-color: #a586a5;
    border: none;
    padding: 20px 30px;
    border-radius: 35px;
    font-size: 55px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.catal:hover{
background-color: #ff99ff;
}